@font-face {
    font-family: JosefinSans100;   
    src: url(JosefinSans-VariableFont_wght.ttf);
    font-weight: 100;
}

@font-face {
    font-family: JosefinSans500;   
    src: url(JosefinSans-VariableFont_wght.ttf);
    font-weight: 500;
}

@font-face {
    font-family: JosefinSans400;   
    src: url(JosefinSans-VariableFont_wght.ttf);
    font-weight: 4400;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;  
}

#logo{
    margin: 35px;
}

#hero-desktop{
    display: none;
}

#hero-mobile{
    width: 100%;
}

h1{
    font-family: "JosefinSans400";
    font-size: 2.4em;
    letter-spacing: 0.3em;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 15px;
}

h1 span{
    color: hsl(0, 93%, 68%);
    font-family: "JosefinSans100";
}

p{
    font-family: "JosefinSans500";
    color: hsl(0, 36%, 70%); 
    font-size: 0.93em;
    line-height: 1.5em;
    margin: 0px 20px 25px 20px;
    text-align: center;
}

#input-div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin-bottom: 50px;
}

#input-text{
    margin: auto;
    width: 280px;
    padding-left: 20px;
    height: 45px;
    border-radius: 30px;
    border: hsl(0, 36%, 70%) 1px solid;
    outline:none;
}

#input-text:hover{
    box-shadow: 0 0 0 1pt grey;
}

#input-text:focus{
    box-shadow: 0 0 0 1pt grey;
}

#input-submit{
    background: linear-gradient(130deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 22px;
    height: 22px;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    position: absolute;
    right: -2px;
    top:-1px;
}

#input-submit:hover, #input-submit:active{
    background: linear-gradient(130deg, hsl(0, 100%, 98%), hsl(0, 36%, 70%));
    height: 25px;
    width: 25px;
    right: -2.5px;
    top: -2.5px;
}

#text{
    display: none;
    font-size: 0.8em;
    color: red;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
}

#icon-error{
    display: none;
    position: absolute;
    width: 25px;
    right: 85px;
    top: 10px;
}

@media only screen and (min-width: 720px){

    section{
        width: 1200px;
        display: flex;
        margin: auto;
        margin-top: 50px; 
        box-shadow: 0px 0px 10px 1px lightgray ;
    }

    section div{
        background-image: url("bg-pattern-desktop.svg");
        padding-left: 120px;
        padding-top: 60px;
        
    }

    h1{
        text-align: left;
        font-size: 3.5em;
        margin-top: 80px;
    }

    p{
        text-align: left;
        margin: 0;
        margin: 20px 150px 50px 0px;
        font-size: 1em;
    }


    #logo{  
        width: 130px;
        margin: 0;
    }

    #hero-mobile{
        display: none;
    }

    #hero-desktop{
        width: 500px;
        display: block;
    }

    #input-div{
        left: 0%;
        transform: translateX(0%);
    }

    #input-text{
        width: 380px;
    }
    
    #text{
        display: none;
        font-size: 0.8em;
        color: red;
        margin-top: 5px;
        margin-left: 10px;
    }

    #icon-error{
        display: none;
        position: absolute;
        width: 30px;
        right: 90px;
        top: 10px;
    }

}