
@font-face {
    font-family: Poppins-SemiBold;   
    src: url(Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Medium;   
    src: url(Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Regular;   
    src: url(Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Light;   
    src: url(Poppins/Poppins-Light.ttf) format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    background-image: url("bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
}

#top-left{
    text-align: center;
}

#top-left h1{
    font-family: Poppins-SemiBold;
    color: white;
    font-size: 1.6rem;
}

#top-left p{
    font-family: Poppins-Regular;
    color: whitesmoke;
    font-size: 0.9rem;
}

#bottom-right button{
    font-family: Poppins-Medium;    
    background-color: hsl(248, 32%, 49%);
    color: white;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 20px;
    padding: 17px 50px 17px 50px;
    border-radius: 12px;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

#bottom-right button:hover{
    box-shadow: 0px 6px 0px 0px hsl(248, 32%, 49%);
    cursor: pointer;
}

#bottom-right button span{
    font-family: Poppins-Light;  
    opacity: 85%;
}

#bottom-right form{
    background-color: white;
    border-radius: 12px;
}

form{
    text-align: center;
    padding: 20px;
}

form input[type=text]{
    box-sizing: border-box;
    font-family: Poppins-SemiBold;   
    width: 100%;
    padding: 13px 0px 13px 20px;
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-bottom: 15px;
}

form input[type=submit]{
    width: 100%;
    background-color:  hsl(154, 59%, 51%);
    font-family: Poppins-SemiBold;   
    color: whitesmoke;
    border: none;
    border-radius: 6px;
    padding: 15px 50px 13px 50px;
    box-shadow: 0px 4px 0px 0px hsl(154, 50%, 45%);
}

form p{
    color: hsl(246, 25%, 77%);
    font-family: Poppins-Medium; 
    font-size: 0.65rem;
    margin: 20px;
    line-height: 1.2rem;
}

form p span{
    font-family: Poppins-SemiBold; 
    color: hsl(0, 100%, 74%);
}

@media only screen and (max-width: 600px){

    html, body{
        font-size: 16px;
    }

    #top-left{
        margin: 30px 15px 30px 15px;
    }

    #top-left h1{
        margin-left: 20px;
        margin-right: 20px;
    }

    #bottom-right{
        margin-left: 30px;
        margin-right: 30px;
    }    
}

@media only screen and  (min-width: 600px) and (max-width: 900px){

    html, body{
        font-size: 26px;
    }

    #top-left{
        margin: 30px 60px 30px 60px;
    }

    #top-left h1{
        margin-left: 60px;
        margin-right: 60px;
    }

    #bottom-right{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (min-width: 900px) and (max-width:1024px){

    html, body{
        font-size: 26px;
    }
    
    #main{
        display: flex;
        margin-top: 80px;
        margin-left: 60px;
        margin-right: 60px;
    }

    #top-left{
        text-align: left;
        width: 50%;
        margin-right: 20px;
    }

    #top-left p{
        font-size: 0.8rem;
    }

    #bottom-right{
        width: 50%;
    }
}


@media only screen and (min-width: 1025px){
    html, body{
        background: none;
        font-size: 26px;
    }

    #main{
        background-image: url("bg-intro-desktop.png");
        background-color: hsl(0, 100%, 74%);
        width: 900px;
        display: flex;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    
    #top-left{
        text-align: left;
        width: 50%;
        margin-right: 60px;
        margin-left: 60px;
    }

    #top-left p{
        font-size: 0.8rem;
    }

    #bottom-right{
        width: 50%;
        margin-right: 50px;
    }
}
